{%extends 'parent.html '%}
{%block title%}
list _ trainee
{%endblock%}
{%block desc%}
list trianee page
{%endblock%}

{%block content%}
    {{trainee}}
<table width="100%" border="2px solid black">
        <tr>
            <th>trainee id </th>
            <th>name </th>
            <th>modify</th>
        </tr>

    {%for tr in trainee_list%}
        <tr>
            <td>{{tr.id}} </td>
            <td>{{tr.trainee_name}}  </td>
            <td>{{tr.trainee_email}}</td>
            <td>
                <a style="color:white" href=""> Update </a>
                <a style="color:white" href="{%url 'traineedelete' tr.id%}" > Delete </a>
            </td>
        </tr>
{%endfor%}
</table>
{%endblock%}