{%extends 'parent.html '%}
{%block title%}
list _ courses
{%endblock%}
{%block desc%}
list courses page
{%endblock%}
{%block content%}
    {{courses}}
<table width="100%" border="2px solid black">
        <tr>
            <th>course id </th>
            <th>course name </th>
            <th>modify</th>
        </tr>

    {%for course in courses%}
  <tr>
            <td>{{courses|first}} </td>
            <td>{{courses.1}}  </td>
            <td>{{courses.2}}</td>
        </tr>
{%endfor%}
</table>
{%endblock%}